<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul>
                        <li *ngIf="this.auth.authenticated() == true"><a routerLink="/profile"><i class="fa fa-user"></i>Minha conta</a></li>

                        <li *ngIf="this.auth.authenticated() == false"><a routerLink="/login"><i class="fa fa-lock"></i>Login</a></li>
                        <li *ngIf="this.auth.authenticated() == false"><a routerLink="/createAnAccount"><i class="fa fa-lock"></i>Cadastrar-se</a></li>

                        <li *ngIf="this.auth.authenticated() == true"><a routerLink (click)="logout()"><i class="fa fa-close"></i>Sair</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end header area -->

<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1><a routerLink="/"><img src="../../assets/img/logo-grand.png" class="image-logo"></a></h1>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="shopping-item">
                    <a routerLink="/cart">
                        Carrinho - <span class="cart-amunt">R$</span>
                    <i class="fa fa-shopping-cart"></i>
                    <span class="product-count">{{numTotal()}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end site branding area-->


<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button class="navbar-toggle" mat-button [matMenuTriggerFor]="menu">
                    Todos os departamentos</button>
                <mat-menu #menu="matMenu" class="matMenu">
                    <button class="navbar-toggle" mat-menu-item (click)="clickCategory(item.id)" *ngFor="let item of items"> {{ item.name }} </button>
                    
                </mat-menu>
                <button class="navbar-toggle" (click)="clickCategory(item.id)" *ngFor="let item of items | slice:0:7">
                    {{item.name}}
                </button>
            </div>
        </div>
    </div>
</div> <!-- end mainmenu area-->