<app-header></app-header>

<div class="mat-card">
    <mat-card>
        <div class="title">
            
            <h1>Carrinho</h1>
        </div>
        
        <div class="card" *ngFor="let item of items">
            <mat-card-content>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                <div class="info1">
                    <h2> {{item.product.name}} </h2>
                    <small>Código do produto: {{item.product.id}}</small>
                </div>
                <div class="info2">
                    <h2>Quantidade</h2>
                    <button mat-buttons (click)="decreaseQuantity(item.product)" class="decrease buttonsActions">
                        <i class="material-icons">
                            remove
                        </i>
                    </button>
                    <input type="text" disabled="true" value="{{item.quantidade}}" class="quantityValue">
                    <button mat-buttons (click)="increaseQuantity(item.product)" class="increase buttonsActions">
                        <i class="material-icons">
                            add
                        </i>
                    </button>
                    <button mat-buttons (click)="removeItem(item.product)" class="remove buttonsActions">
                        <i class="material-icons">
                            clear
                        </i>
                    </button>
                </div>
                <div class="price">
                    <h2>Preço</h2>
                    <h1>{{item.product.price | currency:"BRL"}}</h1>
                </div>
            </mat-card-content>
        </div>
        <div class="card">
            <mat-card-content class="freight">
                Frete para <input type="text" placeholder="00000-000">
                <button>OK</button>
            </mat-card-content>
        </div>
        <div class="card">
            <mat-card-actions class="act">
                <h2 *ngIf="subtotal(product) > 0">Subtotal() R$ {{subtotal()}}</h2>
                <h2 *ngIf="subtotal(product) <= 0">Seu carrinho está vazio!</h2>

                <div class="footer">
                    <button mat-buttons class="buttonPay" (click)="checkout()">Comprar</button>
                    <button mat-buttons class="buttonReturn" (click)="goOn()">Comprar mais produtos</button>
                </div>
                
            </mat-card-actions>
        </div>
    </mat-card>
    
</div>

<app-footer></app-footer>
