<app-header></app-header>

<div class="mat-card">
    <mat-card>
        <div class="title">
            
            <h1>Carrinho</h1>
        </div>
        
        <div class="card">
            <mat-card-content>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                <div class="info1">
                    <h2> {{products?.name}} </h2>
                    <small>Código do produto: {{products?.id}}</small>
                </div>
                <div class="info2">
                    <h2>Quantidade</h2>
                    <input type="number">
                    <button mat-buttons>Excluir</button>
                </div>
                <div class="price">
                    <h2>Preço</h2>
                    <h1>{{products?.price | currency:"BRL"}}</h1>
                </div>
            </mat-card-content>
        </div>
        <div class="card">
            <mat-card-content class="freight">
                Frete para <input type="text" placeholder="00000-000">
                <button>OK</button>
            </mat-card-content>
        </div>
        <div class="card">
            <mat-card-actions class="act">
                <h2 *ngIf="subtotal() > 0">Subtotal() R$ {{subtotal()}}</h2>
                <h2 *ngIf="subtotal() <= 0">Seu carrinho está vazio!</h2>

                <div class="footer">
                    <button mat-buttons class="buttonPay">Comprar</button>
                    <button mat-buttons class="buttonReturn">Comprar mais produtos</button>
                </div>
                
            </mat-card-actions>
        </div>
    </mat-card>
    
</div>

<app-footer></app-footer>
