.mat-card {
    justify-content: center;
    align-content: center;
}

.card img {
    width: 100px;
    margin-top: 5px;
    margin-left: 5px;
    position: static;
    float: left;
}

.info1 {
    margin-left: 20px;
    margin-top: 5px;
    width: 10%;
    float: left;
}

.info2{
    float: left;
    margin-left: 300px;
    justify-content: center;
    align-items: center;
}
.price {
    float: right;
    margin-right: 10px;
    width: 12%;
}

.freight {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
}

.freight button{
    height: 43px;
    border: none;
    background-color: #0a5485;
    margin-left: 4px;
    color: white;
    border-radius: 5px;
}

.act {
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 80%;
}

.footer {
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    margin-right: 20px;
}

.buttonPay {
    height: 70px;
    margin-bottom: 5px;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    background-color: #0aa338;
}

.buttonPay:hover {
    background-color: #086e26;
}

.buttonReturn {
    border-radius: 10px;
    border: none;
    font-size: 15px;
    height: 30px;
    color: white;
    background-color: #2889c9;
}

.buttonReturn:hover {
    background-color: #0a5485;
}

.buttonsActions {
    border: none;
    border-radius: 5px;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 4px;
    height: 40px;
}

.quantityValue {
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    width: 120px;
    height: 40px;
    padding-top: 20px;
}

.increase {
    background-color: #2880bb;
}

.decrease {
    background-color: #081664;

}

.remove {
    background-color: #af1a1a;
}