<app-header></app-header>

<mat-card>
    <mat-card-title>
        <h1>Endereço de entrega</h1>
    </mat-card-title>
    <form class="form">
        <mat-form-field>
            CEP <input type="text">
        </mat-form-field>
        <mat-form-field>
            Endereço <input type="text">
        </mat-form-field>
        <mat-form-field>
            Número <input type="text">
        </mat-form-field>
        <mat-form-field>
            Complemento <input type="text">
        </mat-form-field>
        <mat-form-field>
            Bairro <input type="text">
        </mat-form-field>
        <mat-form-field>
            Cidade <input type="text">
        </mat-form-field>
    </form>
</mat-card>

<app-footer></app-footer>
