<app-header></app-header>

<mat-card>
    <mat-card-title>
        <h1>Novo endereço</h1>
    </mat-card-title>
    <form class="form">
        <mat-form-field>
            CEP <input type="text">
        </mat-form-field>
        <mat-form-field>
            Endereço <input type="text">
        </mat-form-field>
        <mat-form-field>
            Número <input type="text">
        </mat-form-field>
        <mat-form-field>
            Complemento <input type="text">
        </mat-form-field>
        <mat-form-field>
            Bairro <input type="text">
        </mat-form-field>
        <mat-form-field>
            Cidade <input type="text">
        </mat-form-field>
    </form>
</mat-card>

<mat-card>
    <mat-card-title>
        <h1>Endereços salvos</h1>
    </mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <button (click)="nextPage(items)" >
                    <h2>
                        Avenida {{ items[0]?.publicPlace }}, {{ items[0]?.number }} - Bairro {{ items[0]?.neighborhood }} - {{ items[0].complement }} {{ items[0]?.city.name }}
                    </h2>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<app-footer></app-footer>
