<app-header></app-header>
<div class="mat-card">
    <button *ngFor="let item of items" (click)="readProduct(item.id)" class="button-card">
        <mat-card class="card" >
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <mat-card-content class="content">
                <a class="a-card">
                    <h1>{{ item.name }}</h1>
                    <h2>{{ item.price | currency: 'BRL' }}</h2>
                </a>
            </mat-card-content>
            
        </mat-card>
    </button>
    
</div>


<app-footer></app-footer>