.card {
    max-width: 350px;
    max-height: 500px;
    height: 500px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.card img {
    align-items: center;
    display: flex;
    position: relative;
}

.button-card > .card:hover {
    max-width: 400px;
}

.button-card {
    background: none;
    border: none
}

.mat-card {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.a-card {
    font-size: 20px;
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: center;
}

.a-card:hover {
    font-size: 25px;
    color: #4D83FF;
    text-decoration: underline;
}