<app-header></app-header>
<div class="matCard">
    <mat-card>
        <mat-card-title>
            <h1>Minha conta</h1>
        </mat-card-title>
    
        <mat-card-content>
            <img class="imgCircle" src="../../assets/img/avatar-blank.png">
            <div class="info">
                Nome: <h2>{{ client?.nome }}</h2>
                Email: <p>{{ client?.email }}</p>

                Endereço: <p>{{ client?.adresses[0].publicPlace}}, {{ client?.adresses[0].number }}, {{ client?.adresses[0].complement }}</p>
                Bairro: <p>{{ client?.adresses[0].neighborhood }}</p>

                Número de telefone: <p>{{ client?.phones }}</p>

                Estado: <p>{{ client?.adresses[0].city.state.name }}</p>
                Cidade: <p>{{ client?.adresses[0].city.name }}</p>
                CEP: <p> {{ client?.adresses[0].cep }} </p>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button class="editProfile">Editar perfil</button>
        </mat-card-actions>
    </mat-card> 
</div>
<app-footer></app-footer>
