<app-header></app-header>
<div class="matCard">
    <mat-card>
        <mat-card-title>
            <h1>Minha conta</h1>
        </mat-card-title>
    
        <mat-card-content>
            <img class="imgCircle" src="../../assets/img/avatar-blank.png">
            <div class="info">
                Nome: <h2>TF Magazine</h2>
                Email: <p>tfmagazine@tf.com</p>

                Endereço: <p>Av. Lorem Passos, 890</p>
                Bairro: <p>São To</p>

                Número de telefone: <p>98828883</p>

                Estado: <p>State</p>
                Cidade: <p>City</p>
                CEP: <p>67567-000</p>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button class="editProfile">Editar perfil</button>
        </mat-card-actions>
    </mat-card> 
</div>
<app-footer></app-footer>
